body{
  margin:0;
  padding:0;
  
}
#nav a, #nav a:visited, #container a, #container a:VISITED, #footer a, #footer a:visited {
  text-decoration: none;
  
}


#container a, #container a:VISITED {
  color: #464646;
}


#nav {
  background-color: #464646;
  font-size: 15px;
  
}



#nav > div{
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  
}

#nav > div ul{
  list-style-type: disc;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#nav > div ul li{
  padding-left: 5px;
  padding-right: 5px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
 
}

#nav a, #nav a:visited, #container a {
  color: #fff;
  
}

.content {
	margin: 10px;
	
}


/*

E8DDCB
HEX

CDB380
HEX


036564
HEX

033649
HEX

031634
HEX

*/





#footer {
  background-color: #464646;
  font-size: 15px;
  
}



#footer > div{
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  
}

#footer > div ul{
  list-style-type: disc;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#footer > div ul li{
  padding-left: 5px;
  padding-right: 5px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  font-size: 10px;
 
}

#footer a, #footer a:visited {
  color: #fff;
  
}









